# A500-IDE-RAM-CLOCKPORT

NET _AS LOC=P28;
NET R_W LOC=P24;
NET _UDS LOC=P27;
NET _LDS LOC=P25;
NET _DTACK LOC=P23;
NET _DTACK2 LOC=P17;
NET _OVR PWR_MODE=STD;
NET _OVR FAST;
NET _OVR LOC=P59;
NET _OVR2 PWR_MODE=STD;
NET _OVR2 FAST;
NET _OVR2 LOC=P18;
NET _INT2 LOC=P60;
NET _RESET LOC=P99;
NET CLK LOC=P22;
NET AH<23> LOC=P52;
NET AH<22> LOC=P54;
NET AH<21> LOC=P58;
NET AH<20> LOC=P64;
NET AH<19> LOC=P67;
NET AH<18> LOC=P71;
NET AH<17> LOC=P74;
NET AH<16> LOC=P10;
NET AH<15> LOC=P11;
NET AH<14> LOC=P12;
NET AH<13> LOC=P13;
NET AH<12> LOC=P14;
NET AL<6> LOC=P7;
NET AL<5> LOC=P8;
NET AL<4> LOC=P15;
NET AL<3> LOC=P16;
NET AL<2> LOC=P6;
NET AL<1> LOC=P9;
NET D<15> LOC=P50;
NET D<14> LOC=P49;
NET D<13> LOC=P46;
NET D<12> LOC=P43;
NET D<11> LOC=P42;
NET D<10> LOC=P41;
NET D<9> LOC=P40;
NET D<8> LOC=P39;
NET D<7> LOC=P37;
NET D<6> LOC=P36;
NET D<5> LOC=P35;
NET D<4> LOC=P34;
NET D<3> LOC=P33;
NET D<2> LOC=P32;
NET D<1> LOC=P30;
NET D<0> LOC=P29;

//NET IORDY LOC=P73;
NET INTRQ LOC=P72;
NET _ACTIVE LOC=P61;
NET DD[7] LOC=P95;
NET DD[6] LOC=P93;
NET DD[5] LOC=P91;
NET DD[4] LOC=P89;
NET DD[3] LOC=P86;
NET DD[2] LOC=P82;
NET DD[1] LOC=P80;
NET DD[0] LOC=P78;
NET DD[15] LOC=P79;
NET DD[14] LOC=P81;
NET DD[13] LOC=P85;
NET DD[12] LOC=P87;
NET DD[11] LOC=P90;
NET DD[10] LOC=P92;
NET DD[9] LOC=P94;
NET DD[8] LOC=P96;
NET _DRESET LOC=P97;
NET DA<2> LOC=P68;
NET DA<1> LOC=P70;
NET DA<0> LOC=P66;
NET _CS[1] LOC=P65;
NET _CS[0] LOC=P63;
NET _DIOW LOC=P77;
NET _DIOR LOC=P76;

NET _LED LOC=P53;
NET OPTPIN_O LOC=P55;
NET OPTPIN_I LOC=P56;
NET RAM1CE LOC=P19;
NET RAM2CE LOC=P20;

NET _IORD LOC=P2;
NET _IOWR LOC=P3;
NET _SPARE_CS LOC=P1;
