# Written by: Xilinx XPort Language Converter, Version 4.1 (110)
# Date: 17-Mar-2020 10:57 PM
NET nas LOC=P28;    //14;
NET r_w LOC=P24;    //20;
NET nuds LOC=P27;   //11;
NET nlds LOC=P25;   //25;
NET nreset LOC=P99; //99
NET cpuclk7 LOC=P22;    //22
NET AH<23> LOC=P55;    //49;
NET AH<22> LOC=P56;    //50;
NET AH<21> LOC=P58;    //53;
NET AH<20> LOC=P64;    //61;
NET AH<19> LOC=P67;    //67;
NET AH<18> LOC=P71;    //72;
NET AH<17> LOC=P74;    //74;
NET AH<16> LOC=P10;    //78;
NET AH<15> LOC=P11;    //63;
NET AH<14> LOC=P12;    //81;
NET AH<13> LOC=P13;    //85;
NET AH<12> LOC=P14;    //87;
NET AL<6> LOC=P7;      //RAM
NET AL<5> LOC=P8;      //RAM
NET AL<4> LOC=P15;     //1;
NET AL<3> LOC=P16;     //3;
NET AL<2> LOC=P6;     //4;
NET AL<1> LOC=P9;      //RAM
NET D<15> LOC=P50;  //39;
NET D<14> LOC=P49;  //41;
NET D<13> LOC=P46;  //36;
NET D<12> LOC=P43;  //37;
NET D<11> LOC=P42;  //32;
NET D<10> LOC=P41;  //30;
NET D<9> LOC=P40;   //29;
NET D<8> LOC=P39;   //18;
NET D<7> LOC=P37;   //16;
NET D<6> LOC=P36;   //15;
NET D<5> LOC=P35;   //13;
NET D<4> LOC=P34;   //12;
NET D<3> LOC=P33;   //10;
NET D<2> LOC=P32;   //28;
NET D<1> LOC=P30;   //27;
NET D<0> LOC=P29;   //17;
//NET iordy_na LOC=P76;   //89;
NET ide_intrq LOC=P73;  //90;
NET ndaspin LOC=P61;    //96;   // _ACTIVE
NET DD[7] LOC=P96;  //54;
NET DD[6] LOC=P94;  //56;
NET DD[5] LOC=P92;  //58;
NET DD[4] LOC=P90;  //60;
NET DD[3] LOC=P87;  //64;
NET DD[2] LOC=P85;  //66;
NET DD[1] LOC=P81;  //68;
NET DD[0] LOC=P79;  //76;
NET DD[15] LOC=P80; //79;
NET DD[14] LOC=P82; //77;
NET DD[13] LOC=P86; //71;
NET DD[12] LOC=P89; //70;
NET DD[11] LOC=P91; //65;
NET DD[10] LOC=P93; //59;
NET DD[9] LOC=P95;  //55;
NET DD[8] LOC=P97;  //52;
NET nidereset LOC=P1;   //42;   // _DRESET
NET DA<2> LOC=P70;  //93;
NET DA<1> LOC=P72;  //91;
NET DA<0> LOC=P68;  //92;
NET _CS[1] LOC=P66; //95;
NET _CS[0] LOC=P65; //94;
NET niow LOC=P78;   //82;
NET nior LOC=P77;   //86;
NET ndtack LOC=P23; //23
NET ndtack2 LOC=P17;	//24
NET _ovr PWR_MODE=STD;
NET _ovr FAST;
NET _ovr LOC=P59;   //40;
NET _ovr2 PWR_MODE=STD;
NET _ovr2 FAST;
NET _ovr2 LOC=P18;  //6;
NET _ovr3 PWR_MODE=STD;
NET _ovr3 FAST;
NET _ovr3 LOC=P3;
NET nint2 LOC=P60;  //35;
NET nint2_2 LOC=P2; //8;
NET led LOC=P52;    //33;
NET OPTPIN_O LOC=P53;   //9;
NET OPTPIN_I LOC=P54;   //97;
NET ram1ce LOC=P19;
NET ram2ce LOC=P20;

