# Written by: Xilinx XPort Language Converter, Version 4.1 (110)
# Date: 17-Mar-2020 10:57 PM
NET nas LOC=P28;    //14;
NET r_w LOC=P24;    //20;
NET nuds LOC=P27;   //11;
NET nlds LOC=P25;   //25;
NET nreset LOC=P99; //99
NET cpuclk7 LOC=P22;    //22
NET a23 LOC=P55;    //49;
NET a22 LOC=P56;    //50;
NET a21 LOC=P58;    //53;
NET a20 LOC=P64;    //61;
NET a19 LOC=P67;    //67;
NET a18 LOC=P71;    //72;
NET a17 LOC=P74;    //74;
NET a16 LOC=P10;    //78;
NET a15 LOC=P11;    //63;
NET a14 LOC=P12;    //81;
NET a13 LOC=P13;    //85;
NET a12 LOC=P14;    //87;
NET a6 LOC=P7;      //RAM
NET a5 LOC=P8;      //RAM
NET a4 LOC=P15;     //1;
NET a3 LOC=P16;     //3;
NET a2 LOC=P6;     //4;
NET a1 LOC=P9;      //RAM
NET d15 LOC=P50;  //39;
NET d14 LOC=P49;  //41;
NET d13 LOC=P46;  //36;
NET d12 LOC=P43;  //37;
NET d11 LOC=P42;  //32;
NET d10 LOC=P41;  //30;
NET d9 LOC=P40;   //29;
NET d8 LOC=P39;   //18;
NET d7 LOC=P37;   //16;
NET d6 LOC=P36;   //15;
NET d5 LOC=P35;   //13;
NET d4 LOC=P34;   //12;
NET d3 LOC=P33;   //10;
NET d2 LOC=P32;   //28;
NET d1 LOC=P30;   //27;
NET d0 LOC=P29;   //17;
NET iordy_na LOC=P76;   //89;
NET ide_intrq LOC=P73;  //90;
NET ndaspin LOC=P61;    //96;   // _ACTIVE
NET dd7 LOC=P96;  //54;
NET dd6 LOC=P94;  //56;
NET dd5 LOC=P92;  //58;
NET dd4 LOC=P90;  //60;
NET dd3 LOC=P87;  //64;
NET dd2 LOC=P85;  //66;
NET dd1 LOC=P81;  //68;
NET dd0 LOC=P79;  //76;
NET dd15 LOC=P80; //79;
NET dd14 LOC=P82; //77;
NET dd13 LOC=P86; //71;
NET dd12 LOC=P89; //70;
NET dd11 LOC=P91; //65;
NET dd10 LOC=P93; //59;
NET dd9 LOC=P95;  //55;
NET dd8 LOC=P97;  //52;
NET nidereset LOC=P1;   //42;   // _DRESET
NET da2 LOC=P70;  //93;
NET da1 LOC=P72;  //91;
NET da0 LOC=P68;  //92;
NET ncs1 LOC=P66; //95;
NET ncs0 LOC=P65; //94;
NET niow LOC=P78;   //82;
NET nior LOC=P77;   //86;
NET ndtack LOC=P23; //23
NET ndtack2 LOC=P17;		//24
NET novr PWR_MODE=STD;
NET novr FAST;
NET novr LOC=P59;   //40;
NET novr2 PWR_MODE=STD;
NET novr2 FAST;
NET novr2 LOC=P18;  //6;
NET nint2 LOC=P60;  //35;
NET nint2_2 LOC=P2; //8;
NET led LOC=P52;    //33;
NET Xled LOC=P53;   //9;
NET Xledpos LOC=P54;    //97;
NET ram1ce LOC=P19;
NET ram2ce LOC=P20;

